<div class="sayfa">
    <form>
        <div class="mb-3">
            <label for="txtIsim" class="form-label">Ürün Adı</label>
            <input formControlName="isim" type="text" class="form-control" id="txtIsim" aria-describedby="isim">
        </div>
        <div class="mb-3">
            <label for="txtSalePrice" class="form-label">Alış Fiyatı</label>
            <input formControlName="salePrice" type="text" class="form-control" id="txtSalePrice" aria-describedby="salePrice">
        </div>
    
        <div class="mb-3">
            <label for="txtPurchasePrice" class="form-label">Satış Fiyatı</label>
            <input formControlName="salePrice" type="text" class="form-control" id="txtPurchasePrice" aria-describedby="purchasePrice">
        </div>
    
        <button class="btn btn-primary" type="submit">Ürün Ekle</button>
        <button class="btn btn-warning ms-2">Geri</button>
    </form>
    </div>

    