<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">


      <ul>
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
            DEPO TAKİP UYGULAMASI
          </strong>
        <li class="bd-links-group py-4">


          <ul class="list-unstyled fw-normal pb-2 small">
            <li class="bd-links-group py-2"><a [routerLink]="['./product-create']" [relativeTo]="route"
                [routerLinkActive]="'active'" class="bd-links-group py-2">Ürün Ekle</a></li>

            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">Download</a></li>

            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">test</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">deneme</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">fsafds</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">fdasfdsf</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">gfdsgh</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">hgdhgfhdfg</a></li>
            <li class="bd-links-group py-2"><a href="/menu" [routerLinkActive]="'active'">hgfdhfdhg</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <div class="col-md-10 py-4">
      <router-outlet />
    </div>
  </div>
</div>